{% extends 'base.html' %}

{% block title %} | Sign Up {% endblock %}

{% block content %}

{% if error %}
<font color="red">{{ error }}</font>
<br />
<br />
{% endif %}

<h1>Sign Up</h1>

<form method="POST" action="{% url 'signup' %}">
  {% csrf_token %}
  Username:
  <br />
  <input type="text" name="username" />
  <br />
  Password:
  <br />
  <input type="password" name="password1" />
  <br />
  Confirm Password:
  <br />
  <input type="password" name="password2" />
  <br />
  <br />
  <input class="btn btn-primary" type="submit" value="Sign Up" />
</form>

<p class="pt-5">Already have your account? <a href="{% url 'login' %}">Login</a></p>

{% endblock %}
