{% extends 'base.html' %}

{% block content %}

{% for product_and_voted in products_and_voted %}
<div class="row pt-3">
  <div class="col-2" onclick="window.location='{% url 'detail' product_and_voted.product.id %}';" style="cursor: pointer;">
    <img src="{{ product_and_voted.product.icon.url }}" class="img-fluid" />
  </div>
  <div class="col-6" onclick="window.location='{% url 'detail' product_and_voted.product.id %}';" style="cursor: pointer;">
    <h1>{{ product_and_voted.product.title }}</h1>
    <p>{{ product_and_voted.product.summary }}</p>
  </div>
  <div class="col-4">
    {% if product_and_voted.voted %}
    <button class='btn btn-primary btn-lg btn-block' disabled><span class="oi oi-thumb-up"></span>Voted {{ product_and_voted.product.votes_total }}</button>
    {% else %}
    <a href="javascript:{document.getElementById('upvote{{ product_and_voted.product.id }}').submit()}"><button
      class='btn btn-primary btn-lg btn-block'><span class="oi oi-thumb-up"></span>Upvote
      {{ product_and_voted.product.votes_total }}</button></a>
    {% endif %}
  </div>
</div>

<form id="upvote{{ product_and_voted.product.id }}" method="POST" action="{% url 'upvote' product_and_voted.product.id %}">
  <!-- protection -->
  {% csrf_token %}
  <input type="hidden">
</form>

{% endfor %}


{% endblock %}